<h1>Password Generator</h1>
<div>
  <label>Enter length</label>
  <input (input)="onChangeLength()" />
</div>
<div>
  <label>Use letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()" />
</div>
<div>
  <label>Use numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" />
</div>
<div>
  <label>Use symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()" />
</div>

<div>
  <button (click)="onButtonClick()">Generate</button>
</div>

<div>
  <label>Your password</label>
  <input [value]="password" />
</div>
